@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

:root {
    --primary: #9e4343;
    --primary-translucent: #9e42421a;
    --black: #000000;
    --gray: #e5e7eb;
    --white: #ffffff;
}

* {
    -webkit-tap-highlight-color: transparent;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    user-select: none;
}

body {
    display: flex;
    justify-content: center;
    min-height: 100vh;
    padding: 4rem 2rem;
    width: 100%;
}

a {
    color: inherit;
    text-decoration: none;
}

.warning {
    align-items: center;
    display: flex;
    justify-content: center;
    z-index: 1;
}

.warning__container {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    width: 20rem;
}

.warning__icon {
    font-size: 8rem;
}

.warning__text {
    font-family: "DM Sans", sans-serif;
    font-size: 2rem;
    text-align: center;
    text-wrap: wrap;
}

@media only screen and (min-width: 641px) {
    body *:not(.warning):not(.warning *) {
        display: none;
    }
}

.index {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    gap: 4rem;
    justify-content: space-between;
    width: 100%;
}

.index__logo-container {
    align-items: center;
    display: flex;
    gap: 1rem;
    justify-content: center;
}

.index__logo-icon {
    color: var(--primary);
    font-size: 4rem;
}

.index__logo-text {
    color: var(--primary);
    font-size: 3rem;
}

.index__container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.index__button {
    background-color: var(--primary);
    border: none;
    border-radius: 0.5rem;
    color: var(--white);
    font-weight: bold;
    padding: 1rem;
    text-align: center;
    transition: opacity 0.25s;
}

.index__button:active {
    opacity: 0.8;
}

.index__footer-text {
    margin-top: 1rem;
    opacity: 0.5;
    text-align: center;
}

.log-in {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    gap: 4rem;
    justify-content: space-between;
    width: 100%;
}

.log-in__back {
    border-radius: 100px;
    font-size: 1.5rem;
    height: 3rem;
    padding-top: 0.75rem;
    position: absolute;
    text-align: center;
    transition: background-color 0.25s;
    width: 3rem;
}

.log-in__back:active {
    background-color: var(--gray);
}

.log-in__container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.log-in__header-text {
    color: var(--primary);
    text-align: center;
}

.log-in__field {
    display: flex;
    flex-direction: column;
    position: relative;
}

.log-in__field-input {
    background-color: var(--gray);
    border: none;
    border-radius: 0.5rem;
    padding: 1rem;
}

.log-in__field-input:focus {
    outline: 2px solid var(--black);
}

.log-in__field-input--password {
    padding-right: 3rem;
}

.log-in__password-view {
    position: absolute;
    right: 1rem;
    top: 2.6rem;
}

.log-in__button {
    background-color: var(--primary);
    border: none;
    border-radius: 0.5rem;
    color: var(--white);
    font-weight: bold;
    padding: 1rem;
    text-align: center;
    transition: opacity 0.25s;
}

.log-in__button:active {
    opacity: 0.8;
}

.log-in__footer-text {
    margin-top: 1rem;
    opacity: 0.5;
    text-align: center;
}

.log-in__modal {
    border: none;
    border-radius: 0.5rem;
    left: 50%;
    position: fixed;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}

.log-in__modal::backdrop {
    background-color: hsl(0, 0%, 0%, 0.5);
}

.log-in__modal-container {
    display: flex;
    flex-direction: column;
    gap: 4rem;
    justify-content: center;
    padding: 2rem;
    position: relative;
    width: 100%;
}

.log-in__information-text {
    background-color: var(--primary-translucent);
    border-radius: 0.5rem;
    padding: 1rem;
}

.sign-up {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    gap: 4rem;
    justify-content: space-between;
    width: 100%;
}

.sign-up__back {
    border-radius: 100px;
    font-size: 1.5rem;
    height: 3rem;
    padding-top: 0.75rem;
    position: absolute;
    text-align: center;
    transition: background-color 0.25s;
    width: 3rem;
}

.sign-up__back:active {
    background-color: var(--gray);
}

.sign-up__container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.sign-up__header-text {
    color: var(--primary);
    text-align: center;
}

.sign-up__field {
    display: flex;
    flex-direction: column;
    position: relative;
}

.sign-up__field--checkbox {
    display: flex;
    flex-direction: row;
}

.sign-up__field--code {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    justify-content: center;
}

.sign-up__field-input {
    background-color: var(--gray);
    border: none;
    border-radius: 0.5rem;
    padding: 1rem;
}

.sign-up__field-input--checkbox {
    position: absolute;
    top: 0.4rem;
}

.sign-up__field-input--checkbox:focus {
    outline: none !important;
}

.sign-up__field-input--checkbox ~ *::before {
    content: "";
    display: inline-block;
    width: 1.5rem;
}

.sign-up__field-input--code {
    font-size: 2rem;
    height: 4rem;
    text-align: center;
    width: 4rem;
}

@media only screen and (max-width: 420px) {
    .sign-up__field-input--code {
        font-size: 1.75rem;
        height: 3.5rem;
        width: 3.5rem;
    }
}

@media only screen and (max-width: 390px) {
    .sign-up__field-input--code {
        font-size: 1.5rem;
        height: 3rem;
        width: 3rem;
    }
}

.sign-up__field-input:focus {
    outline: 2px solid var(--black);
}

.sign-up__field-input--password {
    padding-right: 3rem;
}

.sign-up__password-view {
    position: absolute;
    right: 1rem;
    top: 2.6rem;
}

.sign-up__button {
    background-color: var(--primary);
    border: none;
    border-radius: 0.5rem;
    color: var(--white);
    font-weight: bold;
    padding: 1rem;
    text-align: center;
    transition: opacity 0.25s;
}

.sign-up__button:active {
    opacity: 0.8;
}

.sign-up__footer-text {
    margin-top: 1rem;
    opacity: 0.5;
    text-align: center;
}

.sign-up__modal {
    border: none;
    border-radius: 0.5rem;
    left: 50%;
    position: fixed;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}

.sign-up__modal::backdrop {
    background-color: hsl(0, 0%, 0%, 0.5);
}

.sign-up__modal-form {
    display: flex;
    flex-direction: column;
    gap: 4rem;
    justify-content: center;
    padding: 2rem;
    position: relative;
    width: 100%;
}

.sign-up__information-text {
    background-color: var(--primary-translucent);
    border-radius: 0.5rem;
    padding: 1rem;
}

.sign-up__clickable-text {
    text-align: center;
}