@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:where(.dark, .dark *));

:root {
  --max-device-height: 917px;
  --max-device-width: 412px;
  --color-background: #f5f5f5;
  --color-surface: #d4d4d4;
  --color-foreground: #0a0a0a;
  --color-primary: #9f4342;
  --color-primary-foreground: #f5f5f5;
}

.dark {
  --color-background: #0a0a0a;
  --color-surface: #171717;
  --color-foreground: #f5f5f5;
  --color-primary: #9f4342;
  --color-primary-foreground: #f5f5f5;
}

@theme inline {
  --color-background: var(--color-background);
  --color-surface: var(--color-surface);
  --color-foreground: var(--color-foreground);
  --color-primary: var(--color-primary);
  --color-primary-foreground: var(--color-primary-foreground);
  --font-poppins: var(--font-poppins);
}

@layer base {
  * {
    @apply border-none select-none;
    @apply outline-2 outline-transparent focus-visible:outline-foreground;
  }

  body {
    @apply min-h-screen min-w-full;
    @apply flex flex-col justify-center items-center;
    @apply bg-background text-foreground;
    @apply font-poppins antialiased;
  }
}
