@import "tailwindcss";
@import "tw-animate-css";

:root {
  --color-background: #ffffff;
  --color-surface: #d8d8d9;
  --color-foreground: #000000;
  --color-primary: #9f4342;
  --color-primary-foreground: #ffffff;
  --color-destructive: #c62828;
  --color-destructive-foreground: #ffffff;
}

@theme inline {
  --color-background: var(--color-background);
  --color-surface: var(--color-surface);
  --color-foreground: var(--color-foreground);
  --color-primary: var(--color-primary);
  --color-primary-foreground: var(--color-primary-foreground);
  --color-destructive: var(--color-destructive);
  --color-destructive-foreground: var(--color-destructive-foreground);
  --font-poppins: var(--font-poppins);
}

@layer base {
  * {
    @apply border-none;
    @apply outline-2 outline-transparent focus-visible:outline-foreground;
    @apply transition-colors duration-200;
  }
  body {
    @apply bg-background text-foreground;
    @apply font-poppins;
  }
}
