@import "tailwindcss";
@import "tw-animate-css";

:root {
  --color-background: #ffffff;
  --color-surface: #d8d8d9;
  --color-foreground: #000000;
  --color-primary: #9f4342;
}

@theme inline {
  --color-background: var(--color-background);
  --color-surface: var(--color-surface);
  --color-foreground: var(--color-foreground);
  --color-primary: var(--color-primary);
  --font-poppins: var(--font-poppins);
}

@layer base {
  * {
    @apply border-none focus-visible:outline-foreground;
  }
  body {
    @apply bg-background text-foreground font-poppins;
  }
}
